body {
	 background-color:#FDE9E2;
	 width:100%;
	 height:100%;
	 }

.nav-tabs {
	
	width:auto;
	border-color:transparent;
}
	
.nav {


		text-align: center;
		
		padding-left:950px;
		width:100%;
	    padding:10px;
		background-color: #C2F6E9;
		padding:8px;
        z-index: 8;
	}

#E { /*Nav font*/
	font-size:4vw;
	
}

	.nav li {
			padding-left:15px;
			color:#807F7E;
			text-decoration: none;
			z-index: 8;
	}

	.nav a {
		color:#807F7E;
		font-family: Amatic SC;
		z-index: 8;

	}

	
	.nav ul {
	margin-left:31%;
		background-color: transparent;
		border-color:transparent;
		width:auto;
		z-index: 8;
	}


	#j { /*Poster*/
		background-color:#FFFAEF	;
		height:200%;
		width:230%	;
			
			border-style: solid ;
			border-width: 2px;
    box-shadow: 10px 10px 5px #888888;

			border-color: #DDDDDD;
		margin-left:-45%;
	 	
	 	
	}

	.poster {
		width:40%;	
		margin-left:22%;
		background-color:#faebd7;
		z-index:10;
		position: absolute;
	}

.green {
	background-color:#C2F6E9;
	height:200%;
	z-index:-8;
}


iframe {
	margin-top:10px;
}